body {
}
.hdr {
    margin-left: 40%;
}
.container {
    display: block;
    width: 400px;
    margin: 10px auto;
}
#submitbtn {
    width: 90px;
    margin-left: 60px;
}
#fetched {
    margin-top: 30px;
    margin-left: 60px;
}