body {
    background-image: url(https://cdn.pixabay.com/animation/2023/03/05/12/05/12-05-54-62_512.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.hdr {
    margin-left: 40%;
    margin-top: 300px;
}
.container {
    display: block;
    width: 400px;
    margin: 10px auto;
}
#submitbtn {
    width: 90px;
    margin-left: 60px;
}
#fetched {
    margin-top: 30px;
    margin-left: 60px;
}
#progressCont {
    margin-top: 20px;
    width: 80%;
}
#progressBar {
    width: 80%;
}