body {
    background-image: url('./images/img2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1vh;
}
.hdr {
    margin-left: 40%;
    margin-top: 100px;
}
.label_cont {
    display: block;
}
.container {
    display: block;
    width: 80%;
    /* margin: 10px auto; */
    margin-left: 20%;
    /* margin-right: auto; */
}
.formCont {
    margin-left: 25%;
}
#locationLabel {
    font-weight: bold;
    font-size: 25px;
}
#location {
    border: 3px solid rgb(85, 83, 87);
    border-radius: 5px;
    height: 25px;
    font-size: 14px;
}
#submitbtn {
    width: 90px;
    height: 30px;
    margin-left: 40px;
    background-color: rgb(82, 53, 214);
    border-radius: 3px;
    border: 2px solid rgb(190, 141, 206);
}
#fetched {
    margin-top: 30px;
    margin-left: 60px;
    color: white;
    width: 70%;
    background-color: rgb(179, 102, 113);
    background-image: linear-gradient(to bottom, rgb(85, 83, 87) , blue);
    opacity: 0.4;
    height: 500px;
    border-radius: 6px;
    border: 5px solid rgba(85, 83, 87);
}
#progressCont {
    margin-top: 20px;
    width: 80%;
}
#progressBar {
    width: 80%;
}
#submitbtn:hover {
    background-color: rgb(147, 103, 192);
}
table {
    font-size: 30px;
    width: 100%;
    height: 100%;
}
table, th, td {
    border:1px solid black;
  }
td {
    padding-left: 220px;
    background-color: azure;
    color: black;
}
th {
    font-weight: bold;
    color: white;
}